ion-content {
  --background: transparent none !important;
}

.qrScanner {
    background: none;

    .qrScanner-area{
        width: 100%;
        height: 86%;
        background: url(../../../assets/imgs/scan/scanner.svg) no-repeat center center;
        background-size: contain;
    }
}

.through-line {
    left: 25%;
    width: 50%;
    height: 2px;
    background: red;
    position: absolute;
    animation: myFirst 2s linear infinite alternate;
}


@keyframes myFirst {
    0% {
      background: red;
      top: 30%;
    }

    25% {
      background: yellow;
      top: 35%;
    }

    50% {
      background: blue;
      top: 40%;
    }

    75% {
      background: green;
      top: 45%;
    }

    100% {
      background: red;
      top: 50%;
    }
}

.button-bottom {
    text-align: center;

    .icon-camera {
      margin: 0px 30px;
      width: 80px;
      height: 40px;
    }
}